body{
	background: #F3F5FC ;*/
}


header{
	height: 96.3px;
	width: 1000px;
}

.vector{
	position: absolute;
	left: 5.21%;
	right: 90.74%;
	top: 6.25%;
	bottom: 89.8%;
	
}

/*Responsive para Tablet*/

@media screen and (min-width: 481px) and (max-width: 800px )

	header{
		width: auto;
	}

	
}

/*Responsive para Celular*/

@media screen and (max-width: 480px){
	
	header{
		width: auto;
	}

	.vector{
		width: 50px;
	}

}


