.button_boxes{
	position: absolute;
	width: 620px;
	height: 67px;
	margin: 845px 520px 42px 240px;
	
}

.button{
	/* Tamaño boton*/
	width: 295px;
	height: 67px;
	border-radius: 24px;

	/*Estilo letra */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

.button_encriptar{
	
	/*Estilo boton*/
	background: #0A3871;
	border: none;
	color: #FFFFFF;
}

.button_desencriptar{

	margin-left: 10px;
	/*Estilo boton*/
	background: #D8DFE8;
	border: 1px solid #0A3871;
	color: #0A3871;
}

.button_copy{
	position: absolute;
	margin: 212% 5% 10% 15%;
	background: #FFFFFF;
	border: 1px solid #0A3871;
	color: #0A3871;
}

/*Responsive para Tablet*/

@media screen and (min-width: 481px) and (max-width: 800px ){
	
	.button_boxes, .button, .button_desencriptar, .button_encriptar{
		position: initial;
		width: auto;
		height: auto;
		margin: 3px 0% 10px 5%;
	}


	.button_encriptar, .button_desencriptar{
		width: 45%;
		height: 10%;
		margin: 10px;
	}

	.button_copy{
		margin: 5px auto 10px 20px;
		width: 90%;
    		height: 10%;
	}

}

/*Responsive para Celular*/

@media screen and (max-width:480px){

	.button_boxes, .button, .button_desencriptar, .button_encriptar, .button_copy{
		position: initial;
		width: auto;
		height: auto;
		margin: auto 10%
	}


	.button{
		margin-top: 30px;
		font-size: 60px;
		border-radius: 60px;
	}

	.button_encriptar, .button_desencriptar {
		width: 380%;
	    	height: 200px;
	}

	.button_copy{
		width: 97%;
		height: 200px;
		margin: auto 1% 3% 1%;
	}

	
	
}
